@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url(../font/jf-openhuninn-1.1.woff) format("woff"),
        url(../font/jf-openhuninn-1.1.ttf) format("truetype"),
        url(../font/jf-openhuninn-1.1.eot) format("embedded-opentype");
}
.sidebar {
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0px;
    top: 0px;
    cursor: default;
    background-color: #534847;
}
.menu {
    position: relative;
    left: 29.17%;
    right: 29.17%;
    top: 1.08%;
    ssbottom: 97.85%;
}
.top-logo {
    position: absolute;
    width: 76px;
    height: 58px;
    left: 30px;
    top: 30px;
}