html{
    width: 1440px;
    height: 100%;
    background-color:#534847;

}
body {
    width: 1440px;
    height: 100%;
}

.sidebar {
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0px;
    top: 0px;
    cursor: default;
    background-color: #534847;
}

.close {
    position: relative;
    margin: 35px 29.17px;
}

ul li{
    list-style-type:none;
}

.container{
    margin:50px 30px 30px 30px;
    display:flex;

}