html{
    width: 1440px;
    height: 100%;
    background-color:#534847;

}
@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url(../font/jf-openhuninn-1.1.woff) format("woff"),
        url(../font/jf-openhuninn-1.1.ttf) format("truetype"),
        url(../font/jf-openhuninn-1.1.eot) format("embedded-opentype");
}
body {
    width: 1440px;
    height: 100%;
}

.sidebar {
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0px;
    top: 0px;
    cursor: default;
    background-color: #FFD2A6;
}

.close {
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
}

ul li{
    list-style-type:none;
}

.container{
    margin: 0%;
    display:flex;
}

.left_text{
    margin-top:148px;
    margin-left:227px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 100px;
    text-align: center;
    color:#534847;
}

.introduce_bg{
    width:374px;
    height:100px;
    background-color: #FFD2A6;
    margin-bottom: 50px;
}

.introduce_bg:hover {
    transform: scale(1.2);
}

.story_bg{
    width:374px;
    height:100px;
    background-color: #FFD2A6;
    margin-bottom: 50px;
}

.story_bg:hover {
    transform: scale(1.2);
}

.guessme_bg{
    width:374px;
    height:100px;
    background-color: #FFD2A6;
    margin-bottom: 50px;
}

.guessme_bg:hover {
    transform: scale(1.2);
}

.right_text{
    margin-top: 240px;
    margin-left: 250px;
}

.right_text_p h1{
    text-align: center;
    margin-left: 0px;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 30px;
    text-align: center;
    color: #FFD2A6;
}

.right_text_p p {
    text-align: center;
    margin-left: 0px;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}

.pic_social{
    margin-left: 30px;
}

.fb,.line,.ig{
    margin-right: 20px;;
}

.mail{
    margin-bottom: 5px;
}
