html {
    width: 1440px;
    height: 100%;
    background-color: #FFD2A6;
}

@font-face {
    font-family: 'jf-openhuninn-1.1';
    src: url(../font/jf-openhuninn-1.1.woff) format("woff"),
        url(../font/jf-openhuninn-1.1.ttf) format("truetype"),
        url(../font/jf-openhuninn-1.1.eot) format("embedded-opentype");
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 1440px;
    height: 100%;
}

.sidebar {
    z-index: 1;
    overflow-x: hidden;
    position: fixed;
    width: 100px;
    height: 100%;
    right: 0px;
    top: 0px;
    cursor: default;
    background-color: #534847;
    float: left;
}

.menu {
    position: relative;
    margin: 35px 29.17px;
    cursor: pointer;
}

#gotop {
    position:fixed;
    z-index:90;
    right:25px;
    bottom:35px;
    display:none;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50%;
    transition:all 0.5s;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.goup-img {
    width:50px;
    height:50px;
}

#gotop :hover{
    background: #FFEAD5;
    border-radius:50%;
}

.container {
    position: absolute;
    max-width: 1440px;
    left: 0px;
    top: 0px;
    background-color: #FFD2A6;
}

header {
    position: absolute;
    width: 1440px;
    height: 800px;
    margin: 0px;
}

.top-logo {
    position: absolute;
    width: 76px;
    height: 58px;
    margin-top: 30px;
    margin-left: 60px;
}

.raccoonface {
    margin-left: 15px;
    width: 1380px;
    height: 740px;
}

.home-title1 {
    background: #58514B;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    height: 56px;
    margin-top: -670px;
    margin-left: 555px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 56px;
    color: #FFFFFF;
}

.home-title2 {
    background: #58514B;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    height: 56px;
    margin-top: -135px;
    margin-left: 575px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 56px;
    color: #FFFFFF;
}

.knowme {
    background: #EC7357;
    border-radius: 70px;
    background-position: center;
    position: absolute;
    padding: 20px 15px;
    width: 196px;
    height: 28px;
    margin-top: 25px;
    margin-left: 595px;
    font-family: 'Itim', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 28px;
    color: #FFFFFF;
}

.knowme:hover {
    transform: scale(1.2);
}

.name {
    position: absolute;
    margin-top: 950px;
    height: 604.76px;
}

.myname {
    background: #FFFFFF;
    box-shadow: 0px 41px 4px rgba(0, 0, 0, 0.25);
    background-position:matrix(1, -0.1, -0.03, -1, 0, 0);
    background-size: 316.62px 110px;
    position: absolute;
    margin-left: 30px;
    padding-left: 25px;
    width: 316px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 52px;
    color: #EC7357;
    transform: matrix(1, -0.1, 0.03, 1, 0, 0);
}

.raccoonname {
    position: absolute;
    width: 1440px;
    height: 378.88px;
    margin-top: 160px;
    background: #FFFFFF;
    box-shadow: 0px 41px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(1, -0.1, 0.03, 1, 0, 0);
}

.raccoonname1 {
    position: absolute;
    width: 1260px;
    height: 121px;
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6.5rem;
    color: #534847;
    transform: matrix(1, 0, 0.03, 1, 0, 0);
}

.raccoonname2 {
    position: absolute;
    width: 1260px;
    height: 121px;
    margin-top: 190px;
    margin-left: 100px;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 6.5rem;
    -webkit-text-stroke: 3px #534847;
    color:  white;
    transform: matrix(1, 0, 0.03, 1, 0, 0);
}

.intro {
    background-image: url(../img/home/intro-bg.png);
    width: 875px;
    height: 410px;
    position: absolute;
    margin: 1654px 547px 1380px 42px;
}

.intro-img {
    width: 380px;
    height: 330px;
    margin: 26px 512.32px 25.59px 16px;
}

.intro-text {
    position: absolute;
    width: 800px;
    margin-top: -315px;
}

.intro-text h1{
    position: absolute;
    margin-left: 440px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 48px;
    color: #000000;
}

.intro-text p{
    position: absolute;
    margin-top: 90px;
    margin-left: 485px;
    margin-bottom: 32px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #534847;
}

.intro-click {
    position: absolute;
    margin-top:160px;
    margin-left: 520px;
}

.intro-click:hover {
    transform: scale(1.2);
}

.story {
    background-image: url(../img/home/story-bg.png);
    position: absolute;
    width: 874px;
    height: 410px;
    margin-top: 2122px;
    margin-left:  517px;
}

.story-text {
    position: absolute;
    width: 450px;
    margin-top: 0px;
}

.story-text h1 {
    position: absolute;
    margin-top: 335px;
    margin-left: 140px;
    margin-top: 95px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 48px;
    color: #FFFFFF;
}

.story-text p {
    position: absolute;
    margin-top: 160px;
    margin-left: 200px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.74);
}

.story-click {
    position: absolute;
    margin-top: 230px;
    margin-left: 190px;
}

.story-click:hover {
    transform: scale(1.2);
}


.story-img {
    position: absolute;
    width: 163px;
    height: 267px;
    margin: 58px 100px 52px 588px;
}


.guess {
    background-image: url(../img/home/guess-bg.png);
    width: 875px;
    height: 410px;
    position: absolute;
    margin-top: 2590px;
    margin-left: 42px;
}

.guess-img {
    width: 234px;
    height: 316px;
    margin: 20px 480px 30.59px 100px;
}

.guess-text {
    position: absolute;
    width: 870px;
    height: 200px;
    margin-top: -300px;
}

.guess-text h1{
    position: absolute;
    margin-left: 440px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 48px;
    color: #000000;
}

.guess-text p{
    position: absolute;
    margin-top: 95px;
    margin-left: 400px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #534847;
}

.guess-click {
    position: absolute;
    margin-top: 160px;
    margin-left: 500px;
}

.guess-click:hover {
    transform: scale(1.2);
}

footer {
    position: absolute;
    background-image: url(../img/footer-bg.png);
    background-size: 1440px 292px;
    margin-top: 3200px;
    left: 0px;
    width: 1440px;
    height: 292px;
}

.footer-logo {
    position: absolute;
    margin: 160px 900px 37px 320px;
}

.footer-text {
    position: absolute;
    margin: 160px 715px 58px 430px;
    font-family: 'jf-openhuninn-1.1';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    color: #000000;
}

.brand {
    position: absolute;
    width: 330px;
    height: 50px;
    margin: 150px 293.52px 92px 838px;
}

.line, .fb, .ig{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.mail {
    margin-left: 3px;
    margin-bottom: 2px;
    width: 45px;
    height: 40px;
}

.copyright {
    position: absolute;
    margin-left: -50px;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.53);
}